* {
    margin: 0;
}

nav {
    background-color: black;
    color: white;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
}

nav ul {
    flex: 1;
    float: right;
}

nav h1 {
    padding-top: 20px;
    float: left;
    padding-left: 20px;
}

nav ul li {
    float: right;
    list-style-type: none;
    padding-top: 25px;
    margin: 0 20px;
}

#main header {
    background-color: lightskyblue;
    text-align: center;
    padding-top: 10px;
    height: 50px;
    position: sticky;
    top: 70px;
    z-index: 0;
    border: 3px solid darkblue;
}

#main {
    background-color: darkgray;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

#main #iPhone {
    margin: 13% 0 0 25%;
    z-index: -1;
    float: left;
}

#main #iPhoneTxt {
    margin: 17% 5% 0 0;
    z-index: -1;
    text-align: justify;
}